
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Front-End Challenge</title>


    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="background"></div>
<div class="container-fluid">

    <!-- HEADER

    <div class="navbar" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <a href="#"><img src="./img/logo.png"/></a>
                </div>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="./img/ava.png"/>John Smith<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
            </div>
        </div>
    </div>
-->
    <!-- *********************** -->

            <div class="row">

                    <div class="side-bar col-sm-3">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar collapse navbar-collapse" id="bs-example-navbar-collapse-1">




                                <div class="img-container" >
                                    <img src="./img/face.jpg" alt="#"/>
                                    <img src="./img/face-mask.png" alt="#"/>
                                </div>
                                <h1>Hi, zach</h1>
                                <button class="btn">My Videos</button>
                                <button class="btn">About</button>
                        </div>
                    </div>


                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-12 title">
                            <h1>My Videos</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 videos-container">
                            <div class="video-container">
                                <a href="#" class="video">
                                    <img src="./img/video-preview.jpg" alt="#"/>
                                    <img src="./img/video-mask.png" class="video-mask" alt="#"/>

                                </a>
                                <p><a href="#">Workout 1</a><span> | </span>Name</p>
                            </div>
                            <div class="video-container">
                                <a href="#" class="video">
                                    <img src="./img/video-preview.jpg" alt="#"/>
                                    <img src="./img/video-mask.png" class="video-mask" alt="#"/>

                                </a>
                                <p><a href="#">Workout 1</a><span> | </span>Name</p>
                            </div>
                            <div class="video-container">
                                <a href="#" class="video">
                                    <img src="./img/video-preview.jpg" alt="#"/>
                                    <img src="./img/video-mask.png" class="video-mask" alt="#"/>

                                </a>
                                <p><a href="#">Workout 1</a><span> | </span>Name</p>
                            </div>
                            <div class="video-container">
                                <a href="#" class="video">
                                    <img src="./img/video-preview.jpg" alt="#"/>
                                    <img src="./img/video-mask.png" class="video-mask" alt="#"/>

                                </a>
                                <p><a href="#">Workout 1</a><span> | </span>Name</p>
                            </div>
                            <div class="video-container">
                                <a href="#" class="video">
                                    <img src="./img/video-preview.jpg" alt="#"/>
                                    <img src="./img/video-mask.png" class="video-mask" alt="#"/>

                                </a>
                                <p><a href="#">Workout 1</a><span> | </span>Name</p>
                            </div>
                            <div class="video-container">
                                <a href="#" class="video">
                                    <img src="./img/video-preview.jpg" alt="#"/>
                                    <img src="./img/video-mask.png" class="video-mask" alt="#"/>

                                </a>
                                <p><a href="#">Workout 1</a><span> | </span>Name</p>
                            </div>
                            <div class="video-container">
                                <a href="#" class="video">
                                    <img src="./img/video-preview.jpg" alt="#"/>
                                    <img src="./img/video-mask.png" class="video-mask" alt="#"/>

                                </a>
                                <p><a href="#">Workout 1</a><span> | </span>Name</p>
                            </div>
                            <div class="video-container">
                                <a href="#" class="video">
                                    <img src="./img/video-preview.jpg" alt="#"/>
                                    <img src="./img/video-mask.png" class="video-mask" alt="#"/>

                                </a>
                                <p><a href="#">Workout 1</a><span> | </span>Name</p>
                            </div>
                            <div class="video-container">
                                <a href="#" class="video">
                                    <img src="./img/video-preview.jpg" alt="#"/>
                                    <img src="./img/video-mask.png" class="video-mask" alt="#"/>

                                </a>
                                <p><a href="#">Workout 1</a><span> | </span>Name</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/function.js"></script>
</body>
</html>