.title {



  h1 {
  font-size: 36px;
  color: #CE541F;
    padding-bottom: 46px;
    padding-left: 12px;
    background-image: url(../img/title-line.jpg);
    background-repeat: repeat-x;
    background-position: 0 100%;
  }

}

/*
title-line.jpg
*/